.generating-area{
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mb-30 {
    margin-bottom: 30px;
}


.section-tittle h2 {
    color: #2b4b80;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 66px;
    line-height: 1.3;
}
.generating-area .single-generating {
    border: 1px solid #f2f2f2;
    padding: 36px 54px 25px 56px;
    border-radius: 10px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.generating-area .generating-cap {
    padding-left: 28px;
}

.generating-area .generating-cap h4 {
    color: #2b4b80;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 29px;
}

.generating-area .generating-cap p {
    font-family: "Poppins",sans-serif;
    color: #707b8e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.generating-area .generating-icon span {
    color: #ff5c97;
    font-size: 60px;
}

.generating-area .single-generating .icon {
    font-size: 50px;
    background-color: #1089ff;
    border-radius: 100%;
    color: #fff;
    width: 30%;
    height: 30%;
    padding: 5px;
}

.generating-area .single-generating .icon:hover {
    background-color: #1578da;
    border-radius: 100%;
    color: #fff;

}


.section-title {
    margin-top: 100px;
  }